In [1]:
fact = 'The Moon has no atmosphere.'
fact + 'No sound can be heard on the Moon.'

'The Moon has no atmosphere.No sound can be heard on the Moon.'

In [2]:
fact

'The Moon has no atmosphere.'

In [3]:
two_facts = fact + 'No sound can be heard on the Moon.'
two_facts

'The Moon has no atmosphere.No sound can be heard on the Moon.'

In [4]:
'temperatures and facts about the moon'.title()

'Temperatures And Facts About The Moon'

In [5]:
heading = 'temperatures and facts about the moon'
heading.title()

'Temperatures And Facts About The Moon'

In [6]:
temperatures = '''Daylight: 260 F
... Nighttime: -280 F'''
temperatures .split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

In [7]:
temperatures .split('\n')

['Daylight: 260 F', 'Nighttime: -280 F']

In [8]:
'Moon' in 'This text will describe facts and challenges with space travel'

False

In [9]:
'Moon' in 'This text will describe facts about the Moon'

True

In [10]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""

In [12]:
temperatures.find('Moon')

-1

In [13]:
temperatures.find('Mars')

64

In [14]:
temperatures.count('Mars')

1

In [15]:
"The Moon And The Earth".lower()

'the moon and the earth'

In [16]:
'The Moon And The Earth'.upper()

'THE MOON AND THE EARTH'

In [17]:
temperatures = 'Mars Average Temperature: -60 C'

In [18]:
parts = temperatures.split(':')
parts

['Mars Average Temperature', ' -60 C']

In [19]:
parts[-1]

' -60 C'

In [20]:
>>> mars_temperature = 'The highest temperature on Mars is about 30 C'

In [21]:
for item in mars_temperature.split():
    if item.isnumeric():
        print(item)

30

In [22]:
'-60'.startswith('-')

True

In [23]:
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

This temperature is in Celsius

In [24]:
'Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius.'.replace('Celsius', 'C')

'Saturn has a daytime temperature of -170 degrees C, while Mars has -28 C.'

In [25]:
text = 'Temperatures on the Moon can vary wildly.'
'temperatures' in text

False

In [29]:
moon_facts = ['The Moon is drifting away from the Earth.', 'On average, the Moon is moving about 4cm every year']
'\n'.join(moon_facts)

'The Moon is drifting away from the Earth.\nOn average, the Moon is moving about 4cm every year'

In [30]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about %s of your weight on Earth' % mass_percentage)

On the Moon, you would weigh about 1/6 of your weight on Earth

In [31]:
print("""Both sides of the %s get the same amount of sunlight,
    but only one side is seen from %s because
    the %s rotates around its own axis when it orbits %s.""" % ('Moon', 'Earth', 'Moon', 'Earth'))

Both sides of the Moon get the same amount of sunlight,
    but only one side is seen from Earth because
    the Moon rotates around its own axis when it orbits Earth.

In [32]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about {} of your weight on Earth'.format(mass_percentage))

On the Moon, you would weigh about 1/6 of your weight on Earth

In [33]:
print(f'On the Moon, you would weigh about {mass_percentage} of your weight on Earth')

On the Moon, you would weigh about 1/6 of your weight on Earth

In [34]:
round(100/6, 1)

16.7

In [35]:
print(f'On the Moon, you would weigh about {round(100/6, 1)}% of your weight on Earth')

On the Moon, you would weigh about 16.7% of your weight on Earth

In [36]:
subject = 'interesting facts about the moon'
f'{subject.title()}'

'Interesting Facts About The Moon'

In [43]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

text_parts = text.split('. ')
text_parts

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [44]:
key_words = ["average", "temperature", "distance"]

In [45]:
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence)
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

In [46]:
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence.replace(' C', ' Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 Celsius.

In [61]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [62]:
title = f'datos de gravedad sobre {nombre}'

In [63]:
hechos = f"""{'-'*50} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""

In [64]:
template = f"""{title.title()} 
{hechos} 
""" 
print(template)

Datos De Gravedad Sobre Ganímedes
--------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [69]:
nombre = "Moon"
gravedad = 0.00162 # in kms
planeta = "Earth"

In [70]:
print(hechos)

--------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [71]:
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Moon
-------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 0.00162 m/s2

In [72]:
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Moon
-------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2